#home {
  width: 100% !important;
}

.my-banner-area {
  position: relative;
  padding-top: 30px;
  display: inline-block;
  height: 100vh;
}

#my-screen {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.welcome-text {
  position: absolute;
  text-align: center;
  color: #fff;
  z-index: 20;
}

.welcome-text h1 {
  font-size: 40px;
  color: #fff;
  line-height: 50px;
  margin: 30px 0px;
}
